
    <div class="container headerStyle">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-2"><img src="assets/header/www.png" style="width: 4vw;"> </div>
                    <div class="main-font-family main-font-size col-2">Тема </div>
                    <div class="col-4 main-font-family">
                        <select class="main-font-family main-font-size form-select" aria-label="Default select example"
                            style="border: none;">
                            <option value="1">Контакти</option>
                            <option value="2">Про нас</option>
                            <option value="3">Ще щось</option>
                        </select>
                    </div>
                    <div class="row main-font-size">
                        <div class="col-2 ">Головна</div>
                        <div class="col-4 ">Навчальні програми </div>
                        <div class="col-3">Про нас</div>
                        <div class="col-3">Для роботи</div>
                    </div>

                </div>
            </div>
            <div class="col-2" style="margin-left: -5vw;">
                <img style="width: 8vw;" src="assets/header/logo.png">
            </div>
            <div class="col-5">
                <div class="row">

                    <div class="col-5">
                        <div class="row">
                            <button
                                class="btn rounded-pill d-flex align-items-center justify-content-center main-font-size"
                                style="color: white; height: 2.5vw; width: 8vw; background-color: rgb(86, 210, 248);">Увійти</button>
                            <button
                                class="btn rounded-pill d-flex align-items-center justify-content-center main-font-size"
                                style="color: #f87c56; width: 15vw; height: 2.5vw; background-color: hwb(0 100% 0%);border-color: #f87c56;">Зареєструватися</button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="input-group rounded" style="margin-top: 1vw;">
                        <input type="search" class="form-control rounded  main-font-family main-font-size"
                            style="height: 2vw;  border-color: rgb(10, 147, 238); border-radius: 100vw;"
                            placeholder="Пошук">

                        <svg style="width: 1.3vw; height:1.3vw; z-index: 1; margin-top:0.2vw; margin-left:-2vw"
                            focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                            </path>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- <div class="headerStyle main-font-family">
    <div class="container">
        <div class="row" style="height: 10vw;">
            <div class="col-6">
                <div class="row" style="align-items: center; width: 40vw;" >
                    <div class="col-2"><img src="assets/header/www.png" style="width: 5vw;"> </div>
                    <div class="main-font-family main-font-size col-2">Тема </div>
                    <div class="col-4 main-font-family">
                        <select class="main-font-family main-font-size form-select" aria-label="Default select example" style="border: none;">
                            <option value="1">Контакти</option>
                            <option value="2">Про нас</option>
                            <option value="3">Ще щось</option>
                        </select>
                    </div>


                </div>
                <div class="row main-font-size" style="width: 45vw;">
                    <div class="col-2 ">Головна</div>
                    <div class="col-4 ">Навчальні програми </div>
                    <div class="col-2">Про нас</div>
                    <div class="col-4">Для роботи</div>
                </div>
            </div>
            <div class="col-1" style="margin-left:-vw; margin-top: -1.5vw;">
                <img style="width: 11vw;" src="assets/header/logo.png">
            </div>

            <div class="col-5" style="margin-left: 3vw; width: 28vw;">
                <div class="row"  style="justify-content: end; margin-left: 3vw;">
                    <button class="btn rounded-pill d-flex align-items-center justify-content-center main-font-size"
                            style="color: white; height: 3vw; width: 8vw; background-color: rgb(86, 210, 248);">
                                Увійти</button>
                    <button class="btn rounded-pill d-flex align-items-center justify-content-center main-font-size"
                            style="color: #f87c56; height: 3vw; width: 15vw; background-color: hwb(0 100% 0%);border-color: #f87c56;">Зареєструватися</button>
                    
                </div>
                <div class="row" style="width: 39vw;">
                    <div class="input-group rounded" style="margin-top: 1vw; margin-left: 2vw; width: 37vw;">
                        <input type="text"  class="form-control rounded" style="width: 30vw;height: 2.5vw; border-color: rgb(10, 147, 238); border-radius: 100vw;" placeholder="Пошук">
                       
                            <svg style="width: 1.7vw; height:1.7vw; z-index: 1; margin-top:0.2vw; margin-left:-2vw" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                </path>
                            </svg>
                       

                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->