$main-font-family:'Comic Sans MS';
$main-font-size:0.9vw;
.headerStyle{
    
    height: 8vw;
  
    background-color: white;
    padding-top: 1vw;
}
.main-font-family{
font-family: $main-font-family;
}
.main-font-size{
    font-size: $main-font-size;
}
