<div class="mainDiv">
    <div style="margin-top: 6vw;" class="col">
        <div class="row">
            <p style="color: black;margin-left: 0vw;display: flex; justify-content: center;font-size: 2vw;font-family: 'Comic Sans MS';">Отримуйте оновлення про нові курси</p>
        </div>
        <div class="row"style="margin-left: 0%;display: flex; justify-content: center;">
        <input type="email" class="mailInput" placeholder="Адреса електроної пошти">
        </div>
        <div class="row" style="margin-left: 0%;display: flex; justify-content: center;">
            <button>
                Підписатися
              </button>
        </div>
    </div>
    </div>