<div class="mainDiv">
    <div style="display: flex; justify-content: center;flex-direction: column;" class="col">
        <div style="margin-left: 0%;display: flex; justify-content: center;margin-bottom: 1%;" class="row">
            <p style="color: black;font-size: 30px;margin-left: 0vw;display: flex; justify-content: center;font-size: 1.5vw; font-weight: bold; font-family: 'Comic Sans MS';">Продовжуйте вчитися</p>
        </div>
            <div class="row" style="margin-left: 0%;display: flex; justify-content: center;">
            <button style="display: flex;justify-content: center; margin-left: auto; margin-right: auto; height:2.5vw ; width: 15vw; background-color:#f87c56;color: white;border-radius: 30px; border: 1px;border-color:#f87c56;" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                
                <span style="font-size: 1vw;">Переглянути всі курси</span>
              </button>
        </div>
    
    </div>
    </div>
    
    
