.mainDiv{
   
    background-image: url('/assets/mainpage/background/keepback.png');
    background-size: 100%;
    width: 90vw;
    margin-left: 5vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}