<app-header></app-header>
<main-page-wisdom-wawe></main-page-wisdom-wawe>
<main-page-wait-you></main-page-wait-you>
<main-page-subject></main-page-subject>
<main-page-recomended></main-page-recomended>
<main-page-wait-courses></main-page-wait-courses>
<main-page-up-courses></main-page-up-courses>
<main-page-trends></main-page-trends>
<main-page-our-teacher></main-page-our-teacher>
<main-page-new-cours></main-page-new-cours>
<main-page-comments></main-page-comments>
<main-page-keep-lern></main-page-keep-lern>
<app-footer></app-footer>