.mainDiv{
    background-image: url('/assets/background/principlesoflernback.png');
    background-size: 100%;
     width: 90vw;
     margin-left: 5vw;
     height: 61vw;
     display: flex;
     flex-direction: column;
    
}