.rating {
    display: inline-block;
  }

  .rating div {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Star_full.svg/1005px-Star_full.svg.png'); /* Замініть шлях на шлях до вашого зображення зірки */
    background-size: cover;
  }

  .rating .filled {
    // background-position: 0 -15px; /* Замініть це значення на позицію зірки, яка відповідає заповненій зірці */
  }

  .rating .half-filled {
    // background-position: 0 -30px; /* Замініть це значення на позицію зірки, яка відповідає напівзаповненій зірці */
    background-image: url('https://cdn.pixabay.com/photo/2013/07/12/14/10/star-147897_1280.png'); /* Замініть шлях на шлях до вашого зображення зірки */

  }
  .rating .half-filled1 {
    // background-position: 0 -30px; /* Замініть це значення на позицію зірки, яка відповідає напівзаповненій зірці */
    background-image: url('https://cdn.pixabay.com/photo/2013/07/12/14/10/star-147897_1280.png'); /* Замініть шлях на шлях до вашого зображення зірки */

  }


  .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
  }