.mainDiv{
    background-image: url('/assets/mainpage/background/waitforyouback.png');
    background-size: 100%;
    height: 38vw;
    background-repeat: no-repeat;
    font-family: 'Comic Sans MS';
 
}
button{
    color: #f87c56;
    height: 3vw; 
    background-color: hwb(0 100% 0%);
    width: 19vw;
    border-color: #f87c56;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
}