<div class="mainDiv">
    <div class="col" style="margin-top:3vw;">
      <div style=" display: flex;" >
          <button >
              Нумо,рушаймо!
            </button>
          </div>
      <div class="row"style="display: flex;justify-content: center; align-items: center;">
       <p style="color: black;margin-left: 0vw;display: flex; justify-content: center;font-size: 2vw;">Ми чекаємо саме на тебе!</p>
      </div>
      <div class="row" style="display: flex;justify-content: center;align-items: center;">
          <div class="col" style="margin-top:2vw;display: flex;justify-content: center;align-items: center;flex-direction: column;">
              <div class="row">
              <p style="margin-bottom: 0vw; font-size: 1.5vw;">Радо вітаємо тебе у спільноті вільних,творчих,натхнених особистостей,</p>
              </div>
              <div class="row">
                  <p style="margin-bottom: 0vw;font-size: 1.5vw;">готових вчитися,втілювати у життя нові ідеї й підвищувати рівень</p>
              </div>
              <div class="row">
                  <p style="margin-bottom: 0vw;font-size: 1.5vw;">власних компетентнотей у різних сферах знань</p>
              </div>
          </div>
      </div>
    </div>
  </div>