.myBody{
    background-image: url("/assets/mainpage/background/subjectback.png");
    background-size: 100%;
    height: 36vw;
    width: 90vw;
    margin-left: 5vw;
    font-family: 'Comic Sans MS';
}
button{
    color: hwb(0 100% 0%);
    height: 3vw; 
    background-color: #f87c56; 
    width: 15vw;
    font-size: 1vw;
    margin-top: 6vw;
}