<div class="container-fluid myBody">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="row" style="margin-top: 9vw; font-size: 2vw; font-weight: bold;">
                <h3 class="col-5" style="font-weight: bold;">Предметні області знань</h3>
                <div class="col-4"></div>
                <div class="col-3">
                    <button class="btn rounded-pill d-flex align-items-center justify-content-center buttonFreeCurs">Зареєструватися</button>
                </div>
               
            </div>
            <div class="row" style="margin-top: 2vw;">
                @for (subject of subject_array; track subject)
                {
                <div class="col-4" style="font-size:1.5vw ;"><img style="width: 4vw;" src={{subject.path}}> {{subject.name}} </div>
                }
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

