.myBody{
    background-image: url("/assets/mainpage/background/subjectback.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 39vw;
    font-family: 'Comic Sans MS';
}
button{
    color: hwb(0 100% 0%);
    height: 3vw; 
    background-color: #f87c56; 
    width: 19vw;
    font-size: 1vw;
    margin-top: 0px;
}