.wisdom{
    background-image: url('/assets/mainpage/background/wisdomwave.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 47vw;
   
   
}

.logoWawe{
   
    margin-top: 6vw;
    font-family: 'Mochiy Pop One';
    font-size: 4vw;
}
.infoWawe{
  

    margin-top: 1.5vw;
    font-size: 1.5vw;
}
.buttonOll{
    color: #f87c56;
    background-color: hwb(0 100% 0%);
    width: 19vw;
    border-color: #f87c56;

    font-size: 1vw;
}
.buttonFreeCurs{
    color: hwb(0 100% 0%);
    background-color: #f87c56; 
    width: 19vw;
    font-size: 1vw;
    margin-left: 0px;
   
}

div{
    font-family: 'Comic Sans MS';
}
// @media(width<600px) {
//      .wisdom{
//         margin-left: 0vw;
//      }
// }

@media(width>700px) and (width<770){
    .wisdom{
       height: 45vw;
    }
}