<div class="container wisdom">
<div class="row">
  <div class="logoWawe row">Wisdom wawe</div>
  <div class="infoWawe row">
    <div>Онлайн платформа</div>
    <div>для безперервного навчання</div>
    <div>з інтерактивними завданнями</div>
</div>
<div class="row">
  <div class="col-7">
    <div class="row ">
      <div class="col">
        <button class="btn rounded-pill d-flex align-items-center justify-content-center buttonFreeCurs">Безкоштовні курси</button>
      </div>
      <div class="col">
        <button class="btn rounded-pill d-flex align-items-center justify-content-center buttonOll">Усі курси</button>
      </div>
    </div>
  </div>
<div class="col"></div>
</div>
</div>


<!-- <div class="wisdom" >
    <div>
    <div class="logoWawe">Wisdom wawe</div>
    <div class="infoWawe">
      <div>Онлайн платформа</div>
      <div>для безперервного навчання</div>
      <div>з інтерактивними завданнями</div>
<div class="divButtonCurs">
  <button class="btn rounded-pill d-flex align-items-center justify-content-center buttonFreeCurs">Безкоштовні курси</button>
  <button class="btn rounded-pill d-flex align-items-center justify-content-center buttonOll">Усі курси</button>
</div>
    </div>
  </div>
  </div>
 <div></div>
 -->
