.wisdom{
    background-image: url('/assets/mainpage/background/wisdomwave.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
   height: 500px;
    margin-left: 5vw;
    margin-bottom: 0vw;
    margin-right: 5vw;
 
}
.logoWawe{
    margin-left: 5vw;
    margin-top: 6vw;
    font-family: 'Mochiy Pop One';
    font-size: 4vw;
}
.infoWawe{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 1.5vw;
    font-size: 1.5vw;
}
.buttonOll{
    color: #f87c56;
    background-color: hwb(0 100% 0%);

    border-color: #f87c56;

    font-size: 1vw;
}
.buttonFreeCurs{
    color: hwb(0 100% 0%);
    background-color: #f87c56; 
    
    font-size: 1vw;
    
   
}

div{
    font-family: 'Comic Sans MS';
}
@media(width<600px) {
     .wisdom{
        margin-left: 0vw;
     }
}